/* CSS Document */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #a7a9ac;
}

img {
  max-width: 100%;
}

h1 {
  background: #a7a9ac;
  color: #111;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  padding: 5px 10px;
  margin: 0;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
  /* headers blijven plakken bovenaan */
  position: sticky;
  top: 0;
}

a.navlink {
  background: #a7a9ac;
  color: #111;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  padding: 5px 10px;
  margin: 0;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
  /* headers blijven plakken bovenaan */
}

.column a.navlink {
  display: none;
}

/* Mobiele navigatie */

.mobile-menu {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0;

}
.mobile-menu a.navlink{
  width: 100%;
}

/* Main columns grid layout */

main {
  display: grid;
  grid-template-columns: repeat(1, minmax(200px, 1fr));
  background: black;
  grid-gap: 1px;
  padding: 2px;
  padding-top: 0;
}

@media (max-width: 786px){
  main{
      /* margin-top: 15vh; */
  }
}
div.column {
  background: #a7a9ac;
  height: 100vh;
  overflow: hidden;
}
div.normal-scroll{
  overflow: auto;
  height: auto;
}

main img.preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom: 1px solid black;
}

main img.preview:last-child {
  border-bottom: none;
}

/* 2 kolommen */
/* @media screen and (min-width: 501px) {
  main {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
  div.column {
    height: 100vh;
    overflow: auto;
  }
} */

/* 4 kolommen */
@media screen and (min-width: 601px) {
  main {
    /* layout met 4 kolommen */
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    height: 100vh;
    overflow: hidden;
    position: fixed;
  }
  main.normal-scroll{
    height: auto;
    overflow: scroll;
    position: relative;
  }
  .mobile-menu {
    display: none;
  }

  #mobile-menu-hamburger {
    display: none;
  }

  .column a.navlink {
    display: block;
    position: fixed;
    width: calc(25vw - 2.5px);
    top: 0;
    z-index: 10;
  }
  div.column {
    /* elke kolom individueel scrolt */
    height: 100vh;
    overflow: hidden;
    padding-top: 42px;
  }
  div.normal-scroll{
  overflow: auto;
  height: auto;
}

  div.column h1 {
    position: fixed;
    width: calc(25vw - 2.5px);
    top: 0;
  }
}

footer {
  display: grid;
  grid-template-columns: repeat(1, minmax(200px, 1fr));
  background: black;
  grid-gap: 1px;
  padding: 2px;
  padding-top: 0;
}

footer img.preview {
  width: 100%;
  height: auto;
  border-bottom: 1px solid black;
}

footer img.preview:last-child {
  border-bottom: none;
}
